*.txt text eol=lf
*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.gql text eol=lf
*.yml text eol=lf
*.html text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.prettierrc text eol=lf
.prettierignore text eol=lf
.npmignore text eol=lf
yarn.lock text eol=lf
CODEOWNERS text eol=lf
LICENSE text eol=lf