node_modules
src/**/*.js
lib
dist
storybook-static
.DS_Store
coverage/
*.log
licenses.txt

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*% 
