# Node Artifacts
node_modules
packages/*/src/**/*.js
packages/*/lib/
packages/*/dist/
packages/*/storybook-static

# Test Output
coverage/
licenses.txt

# Random
.DS_Store
*.log*

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
