# Node Artifacts
node_modules
javascript/*/src/**/*.js
javascript/*/lib/
javascript/*/dist/
javascript/*/storybook-static/
javascript/*/docsTemp/
.swc/
.turbo/

# Test Output
coverage/
.coverage
coverage.xml
htmlcov/
licenses.txt

# Random
.DS_Store
*.log*
.env

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Python Artifacts
__pycache__/
output/
python/*/dist/
notebooks/*_cache/

tests/integration