site_name: Essex-Toolkit
  
theme:
  name: material
  features:
    - content.code.copy
    - content.code.select
    - navigation.footer

nav:
  - Intro: index.md  
  - reactivedataflow: '!include ./python/fnllm/mkdocs.yml'

plugins:
  - search
  - monorepo

repo_url: https://github.com/microsoft/essex-toolkit
repo_name: essex-toolkit
copyright: >
  &copy; 2025 Microsoft&nbsp;|&nbsp;
  <a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy</a>&nbsp;|&nbsp;
  <a href="https://go.microsoft.com/fwlink/?LinkId=2259814">Consumer Heath Privacy</a>&nbsp;|&nbsp;
  <a onclick="window.manageConsent();">Cookies</a>&nbsp;|&nbsp;
  <a href="https://go.microsoft.com/fwlink/?LinkID=206977">Terms of Use</a>&nbsp;|&nbsp;
  <a href="https://www.microsoft.com/trademarks">Trademarks</a>

extra:
  polyfills:
    - "https://wcpstatic.microsoft.com/mscc/lib/v2/wcp-consent.js"
    
extra_javascript:
  - "scripts/create_cookie_banner.js"
markdown_extensions:

  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format