name: gh-pages
on:
  push:
    branches:
      - main
permissions:
  contents: write

env:
  NODE_VERSION: '18.x'
  PYTHON_VERSION: '3.12'
  UV_VERSION: '0.4.20'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Use Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Use up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - run: yarn install
        name: yarn install

      - run: yarn bundle:storybook
        name: bundle storybook
      
      
      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: ${{ env.UV_VERSION }}

      - name: Install Dependencies
        shell: bash
        run: uv sync --locked
  
      - name: mkdocs build
        shell: bash
        run: uv run poe build_docs

      - name: Copy Storybook to Python Docs
        run: cp -r javascript/stories/storybook-static site/storybook

      - name: List Docsite Contents
        run: find site

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: site
          clean: true