name: Python-Publish-CI
on:
  release:
    types: [created]
  push:
    branches: [main]

  # TODO: remove after test
  pull_request:
    # Nothing

env:
  UV_VERSION: "0.4.17"
  PYTHON_VERSION: "3.11"

jobs:
  publish:
    name: Upload python projects to PyPI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ["fnllm"]

    environment:
      name: pypi
      url: https://pypi.org/p/${{ matrix.project }}
    permissions:
        id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: '${{ env.PYTHON_VERSION }}'

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: ${{ env.UV_VERSION }}

      - name: Build Distributable
        shell: bash
        working-directory: ./python/${{ matrix.project }}
        run: uv build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: python/${{ matrix.project }}/dist
          skip-existing: true
          verbose: true
      